.exercises {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
a {
    color: var(--clr-accent);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--clr-accent);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --clr-main: #4caf50; 
    --clr-main-light: #e8f5e9; 
    --clr-accent: #ff7043; 
    --clr-text-dark: #212121; 
    --clr-text-light: #fafafa; 
}
.imagencart {
    width: 100%;           /* Ocupa todo el ancho del contenedor */
    max-width: 220px;       /* Asegura que la imagen no se extienda más allá de su contenedor */
    height: 200px;         /* Altura fija */
    min-width: 200px;     /* Altura mínima para evitar que se vuelva demasiado delgada */
    object-fit: cover; 
}

.container {
    max-width: 1140px;
    padding-inline: 1.5rem;
    margin: 0 auto;
}

.main-title {
    margin-top: 2rem;
}

.navbar {
    padding: 1rem 2rem;
    background-color: var(--clr-main);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
}


.menu-link {
    font-weight: bold;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
    background-color: #194e1c;
    
    
}

.menu-link:hover {
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
    text-decoration: none;
    
    
}
.logo {
    text-decoration: none;
    color: black;
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.carrito-contenedor{  
    display: flex;
    align-items: center;
    position: relative;
}
.carrito {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}
.menu-link:hover .carrito {
    transform: scale(1.1); 
}
.numerito {
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: var(--clr-text-dark);
    color: white;
    border-radius: 50%;
    padding: 0.2rem 0.4rem;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 1;
}
.productos {
    display: flex;
    flex-wrap: wrap;
    
    gap: 2rem;
    padding-block: 2rem;
    margin-bottom: 10rem;
}

.producto {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: calc(33.333% - 1.5rem);
    max-width: calc(33.333% - 1.5rem);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 10px 8px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.imgproducto{
    height: 250px;
    margin-right: auto;
    margin-left: auto;
    object-fit: cover;
    
    
    
}
@media (max-width: 550px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
      
        padding: 1rem;
    }
    .menu {
        flex-direction: column;
        width: 100%;
        gap: 0.5rem;
        align-items: center;
        
    }
    .producto {
        flex-basis: calc(100% - 1.5rem); 
        max-width: calc(100% - 1.5rem);  
        
    }
    
    
    
    
}
@media (min-width: 700px) {
    .producto:hover {
    transform: translateY(-5px);
    }
    .menu-link:hover .carrito {
        transform: scale(1.2);
    
}
   .producto-detalle {
    
    padding-left: 20%;
   }
}
@media (min-width: 551px) and ( max-width: 750px) {
    .producto {
        flex-basis: calc(50% - 1.5rem); 
        max-width: calc(50% - 1.5rem);  
        
    }
    
}
.producto > div {
    padding: 1rem;
    background-color: var(--clr-text-light);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    
}
.producto  h4{
    font-size: medium;
    font-weight: 700;
}

.producto > img {
    width: 100%;
    aspect-ratio: 1.5/1;
    object-fit: cover;
}

.producto .ver-mas {
    text-decoration: none;
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
    padding: .5rem;
    width: max-content;
    border-radius: .5rem;
    transition: .2s;
    margin-top: auto;
}

.producto .ver-mas:hover {
   
        background-color: var(--clr-main);
        color: var(--clr-text-dark);
    
}



.producto-detalle {
    padding-block: 2rem;
    margin-bottom: 4rem;
    color: var(--clr-text-dark);
    display: inline-block;
    gap: 2rem;
    
}

.producto-detalle img {
    width: 100%;           /* Ocupa todo el ancho del contenedor */
    max-width: 220px;       /* Asegura que la imagen no se extienda más allá de su contenedor */
    height: 200px;         /* Altura fija */
    min-width: 200px;     /* Altura mínima para evitar que se vuelva demasiado delgada */
    object-fit: cover; 
}


.detail-titulo{
    font-size: 2rem;
    font-weight: bold;
}
.categoria {
    
        font-size: 0.9rem;
        color: var(--clr-text-dark);
        margin-top: 1.5rem;
        letter-spacing: 0.05rem;
    
}

.precio {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--clr-text-dark);
    margin-top: 1.5rem;
}

.item-count {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.container-carrito{
    border-bottom: 2px solid black;
    margin-bottom: 2rem;

}

.item-count button, .agregar-al-carrito, .enviar  {
    background-color: var(--clr-main);
    border: 0;
    width: 2rem;
    height: 2rem;
    color: var(--clr-text-light);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.finalizar-compra {
    background-color: var(--clr-main);
    border: 0;
    width: 15rem;
    height: 3rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: var(--clr-text-light);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}
.eliminar{
    background-color: rgb(226, 85, 85);
    border: 0;
    width: 15rem;
    height: 3rem;
    color: var(--clr-text-light);
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid red;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.eliminar:hover{
    background-color: red;
    color: var(--clr-text-dark);
    border: 2px solid black;

}
.finalizar-compra:hover{
    background-color: var(--clr-accent);
    color: var(--clr-text-dark);
    border: 2px solid var(--clr-main);
}


.item-count button:hover, .agregar-al-carrito:hover, .enviar:hover {
    background-color: var(--clr-accent);
    color: var(--clr-text-dark);
    border: 2px solid var(--clr-main);
}
.item-count  p {
    margin-bottom: 0;
}
.agregar-al-carrito, .enviar {
    width: auto;
    height: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.formulario {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: flex-start;
    
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid black;
    transition: border 0.3s ease;

}

.formulario input:focus {
    outline: 0;
    border-color: var(--clr-accent);
    outline: none;
    box-shadow: 0 0 5px var(--clr-accent);
}
.dropdown-toggle {
    background-color:#194e1c ;
    border: none;
    cursor: pointer;
    padding: 0.3rem 1rem 0.3rem;
    margin: 0.1rem 0 0.09rem;
    border-radius: 0.5rem;
    color: var(--clr-accent);
  }
  
  .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #194e1c;
    opacity: 100%;
    color: white;
    list-style: none;
    padding: 25px;
    margin: 10px;
    border: 1px solid #ddd;
    z-index: 1000;
    border-radius: 10px;
    
  }
  
  .dropdown-item {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: var(--clr-accent);
    display: block;
  }
  
  .dropdown-item:hover {
    background-color: var(--clr-accent);
    
  }
 .menu-item{
    position: relative;
    padding-bottom: 0.15rem;
    
  }
  